<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Management Application</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/webjars/font-awesome/5.9.0/all.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>
<body>

<div th:replace="core/header"/>

<div th:replace="core/user-panel"/>

<br>
<div id="main" class="container">
    <div class="row">
        <div id="content" class="col-md-12">

            <h4>Waiting absences:</h4>
            <br>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>From day</th>
                    <th>To day</th>
                    <th>Absence Type</th>
                    <th>STATUS</th>
                    <th>Accept</th>
                    <th>Reject</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="absence: ${waitingAbsences}" th:object="${Absence}">
                    <tr>
                        <td th:text="${absence.getAbsenceFromDay()}"></td>
                        <td th:text="${absence.getAbsenceToDay()}"></td>
                        <td th:text="${absence.getAbsenceType().getAbsenceType()}"></td>
                        <td th:text="${absence.getAbsenceApprovalStatus().getStatus()}"></td>
                        <td>
                            <form th:action="@{'/addword/'+${absence.getId()}+'/accept-absence'}" method="POST">
                                <button type="button" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{'/addword/'+${absence.getId()}+'/reject-absence'}" method="POST">
                                <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </form>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
            <br>

            <h4>Archives of absences:</h4>
            <br>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>From day</th>
                    <th>To day</th>
                    <th>Absence Type</th>
                    <th>STATUS</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <br>
        </div>
    </div>
</div>

<div th:replace="core/footer"/>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</body>
</html>