<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Management Application</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>
<body>

<div th:replace="core/header"/>

<div th:replace="core/user-panel"/>

<br>
<div id="main" class="container">
    <div id="content" class="row">
        <div class="col-md-12">
            <form th:action="@{/payrolls/export-to-txt}" method="POST">
                <button class="btn btn-secondary btn-block" type="submit">Export to text file</button>
            </form>
            <br>
            <form th:action="@{/payrolls/export-to-csv}" method="POST">
                <button class="btn btn-secondary btn-block" type="submit">Export to csv file</button>
            </form>
            <br>
            <form th:action="@{/payrolls}" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <br>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Month</th>
                    <th>Days worked</th>
                    <th>Hours Worked</th>
                    <th>Calculated salary</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="payroll: ${payrolls}" th:object="${Payroll}">
                    <tr>
                        <td th:text="${payroll.getMonth()}"></td>
                        <td th:text="${payroll.getWorkedDays()}"></td>
                        <td th:text="${payroll.getWorkedHours()}"></td>
                        <td th:text="${payroll.getSalary()}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="core/footer"/>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</body>
</html>