<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Registration form</title>
</head>
<body>
	<h1>Adding new employee</h1>
	<form action="#" method="post" th:action="@{/register}" th:object="${employee}">
		<p th:errors="*{username}">Username Errors</p>
		<input th:field="*{username}" placeholder="Username" /><br>
		<p th:errors="*{firstName}">First Name Errors</p>
		<input th:field="*{firstName}" placeholder="FirstName" /><br>
		<p th:errors="*{lastName}">Last Name Errors</p>
		<input th:field="*{lastName}" placeholder="LastName" /><br>
		<input th:field="*{password}" type="password" placeholder="Password" /><br>
		<input type="submit" value="Add Employee"/>
	</form>
</body>
</html>