<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Management Application</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">
</head>
<body>

<div th:fragment="user-panel" id="userPanel" class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-md-5">
            <div style="float:right" class="btn-group" role="group" aria-label="User button panel">
                <a th:href="@{/index}"><button type="button" class="btn btn-dark">Work Diagram</button></a>
                <a th:href="@{/myabsences}"><button type="button" class="btn btn-dark">My absences</button></a>
                <a th:href="@{/mypayrolls}"><button type="button" class="btn btn-dark">My payrolls</button></a>
                <!-- NAVIBAR OPTIONS FOR MANAGERS AND ADMINS -->
                <div sec:authorize="hasRole('ROLE_MANAGER')">
                    <a th:href="@{/employers}"><button type="button" class="btn btn-dark">Employers</button></a>
                    <a th:href="@{/absences}"><button type="button" class="btn btn-dark">Absences</button></a>
                    <a th:href="@{/payrolls}"><button type="button" class="btn btn-dark">Payrolls</button></a>
                </div>
                Logged user: <span sec:authentication="name"> Not logged</span>

            </div>
        </div>
        <div class="col-md-3">
            <div style="float:left" class="btn-group" role="group" aria-label="User account panel">
                <a th:href="@{/account}"><button type="button" class="btn btn-info">My Account</button></a>
                <a th:href="@{/logout}"><button type="button" class="btn btn-info">Logout</button></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>