#header {
    background-color: rgb(62, 63, 61);
    -moz-border-bottom: solid 5px rgb(20, 175, 116);
    -webkit-border-bottom: solid 5px rgb(20, 175, 116);
    -o-border-bottom: solid 5px rgb(20, 175, 116);
    border-bottom: solid 5px rgb(20, 175, 116);
}

#headerText {
    font-family: 'Aclonica', sans-serif;
    color: rgb(20, 175, 116);
}

#headerTextSecondary {
    font-family: 'Aclonica', sans-serif;
    margin-left: 10%;
}

#main {
    background-color: rgb(201, 199, 195);
    /*background-color: rgb(235, 232, 228);*/
}

#content {
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 5%;
    /*background-color: rgb(235, 232, 228);*/
    background-color: rgb(201, 199, 195);
}

body {
    /*background-color: rgb(235, 232, 228);*/

    background-color: rgb(201, 199, 195);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#footer {
    background-color: rgb(62, 63, 61);
    -moz-border-top: solid 5px rgb(20, 175, 116);
    -webkit-border-top: solid 5px rgb(20, 175, 116);
    -o-border-top: solid 5px rgb(20, 175, 116);
    border-top: solid 5px rgb(20, 175, 116);
}

#userpanel {
    -webkit-box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 0.2%;
}

#footerLogoText{
    font-family: 'Aclonica', sans-serif;
    color: rgb(20, 175, 116);
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#footertext{
    color: rgb(20, 175, 116);
}