<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Club Management Application</title>
	<link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="Stylesheet" type="text/css" href="/static/images/style.css" />


</head>
<body>
	<div id="header" class="container-fluid">
		<!-- Zawartość kontenera -->
		<div class="row">
			<div id="logo" class="col-4">
				<img src="/static/images/stack.png" class="float-right img-fluid">
			</div>
			<div id="logotext" class="col-8">
				<p id="headertext" class="h1"><br>BASS STAGE
					<br>
					<small id="headertextsmall" class="text-muted">dub, jungle, roots, reggae</small>
				</p>
			</div>
		</div>
	</div>

	<a th:href="@{/login}">Login Page</a>
	
	<a th:href="@{/test}">Test Security Page</a>
	<br>
	<form action="logout" th:action="@{/logout}" method="post" >
        <input type="submit" value="Log me out" />
    </form>
</body>
</html>