<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Management Application - Login Page</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>

    <div id="header" class="container-fluid">
        <div class="row">
            <div id="logo" class="col-4">
                <img th:src="@{/images/stack.png}" class="float-right img-fluid">
            </div>
            <div id="logotext" class="col-8">
                <p id="headertext" class="h1"><br />Club management App
                    <br />
                    <small id="headertextsmall" class="text-muted">Let's manage your club!</small>
                </p>
            </div>
        </div>
    </div>

    <h1>Please Login into site</h1>
    <form action="/login" method="post">
        <input name="username" placeholder="Username" /> <br />
        <input name="password" placeholder="Password" /> <br />
        <input type="submit" value="Login" />
    </form>

</body>
</html>