<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Management Application</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div id="header" class="container-fluid">
    <div class="row">
        <div id="logo" class="col-4">
            <img th:src="@{/images/stack.png}" class="float-right img-fluid">
        </div>
        <div id="logotext" class="col-8">
            <p id="headerText" class="h1"><br />Club management App
                <br />
                <small id="headerTextSecondary" class="text-muted">Let's manage your club!</small>
            </p>
        </div>
    </div>
</div>

<div id="userPanel" class="container-fluid">
    <div class="row justify-content-around">
        <div class="col-md-5">
            <div style="float:right" class="btn-group" role="group" aria-label="User button panel">
                <a th:href="@{/index}"><button type="button" class="btn btn-dark">Work Diagram</button></a>
                <a th:href="@{/myabsences}"><button type="button" class="btn btn-dark">My absences</button></a>
                <a th:href="@{/mypayrolls}"><button type="button" class="btn btn-dark">My payrolls</button></a>
                <!-- NAVIBAR OPTIONS FOR MANAGERS AND ADMINS -->
                <div sec:authorize="hasRole('ROLE_MANAGER')">
                    <a th:href="@{/employers}"><button type="button" class="btn btn-dark">Employers</button></a>
                    <a th:href="@{/absences}"><button type="button" class="btn btn-dark">Absences</button></a>
                    <a th:href="@{/payrolls}"><button type="button" class="btn btn-dark">Payrolls</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="float:left" class="btn-group" role="group" aria-label="User account panel">
                <a th:href="@{/account}"><button type="button" class="btn btn-info">My Account</button></a>
                <a th:href="@{/logout}"><button type="button" class="btn btn-info">Logout</button></a>
            </div>
        </div>
    </div>
</div>

<br>
<div id="main" class="container">
    <div class="row">
        <div id="content" class="col-md-12">
                <div class="row">
                    <div class="col">
                        <p class="h4">
                            New absence request:
                        </p>
                    </div>
                </div>
                <form th:action="@{/new-absence}" method="POST" th:object="${newAbsence}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="absenceFrom">Absence start date:</label>
                            <input type="date" class="form-control" th:field="*{absenceFromDay}" placeholder="Pick start date">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="absenceTo">Absence end date:</label>
                            <input type="date" class="form-control" th:field="*{absenceFromDay}" placeholder="Pick end date">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="absenceType">Check absence type:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="absenceRadio" id="holidayRadio" value="1" checked>
                            <label class="form-check-label" for="holidayRadio">
                                Holiday absence
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="absenceRadio" id="sickRadio" value="2">
                            <label class="form-check-label" for="sickRadio">
                                Sick leave
                            </label>
                        </div>
                </div>
                    <button type="submit" class="btn btn-dark btn-block">Send absence request</button>
                </form>
            <br>
            <p class="h4">Your absences list:</p>
            <form th:action="@{/myabsences}" method="GET">
                <div class="container">
                    <div class="row">

                        <div class="input-group col-md-6" style="float:right">
                            <select class="form-control" id="filter" name="filter">
                                <option value="all" selected>All</option>
                                <option value="approved">Approved</option>
                                <option value="rejected">Rejected</option>
                                <option value="waiting">Waiting</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>From day</th>
                    <th>To day</th>
                    <th>Absence Type</th>
                    <th>STATUS</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="absence: ${absences}" th:object="${Absence}">
                    <tr>
                        <td th:text="${absence.getAbsenceFromDay()}"></td>
                        <td th:text="${absence.getAbsenceToDay()}"></td>
                        <td th:text="${absence.getAbsenceType().getAbsenceType()}"></td>
                        <td th:text="${absence.getAbsenceApprovalStatus().getStatus()}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="footer" class="container-fluid">
    <div class = "row">
        <div class = "col-8">
            <p id="footerLogoText" class="h2">
                Club Manager
            </p>
        </div>
        <div class = "col-4">
            <p id="footerSecondaryText" class="h6">
                Traveler Vihaan
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</body>
</html>