<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Management Application</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>
<body>

<div th:replace="core/header"/>

<div th:replace="core/user-panel"/>

<br>
<div id="main" class="container">
    <div class="row">
        <div id="content" class="col-md-12">
                <div class="row">
                    <div class="col">
                        <p class="h4">
                            New absence request:
                        </p>
                    </div>
                </div>
                <form th:action="@{/new-absence}" method="POST" th:object="${newAbsence}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="absenceFrom">Absence start date:</label>
                            <input type="date" class="form-control" th:field="*{absenceFromDay}" placeholder="Pick start date">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="absenceTo">Absence end date:</label>
                            <input type="date" class="form-control" th:field="*{absenceFromDay}" placeholder="Pick end date">
                        </div>
                    </div>
                </div>
                        <li th:each="absType : ${absenceTypes}">
                            <input type="radio" th:field="*{absenceType}" th:value="${absType}" />
                            <label th:text="${absType.getAbsenceType()}">Wireframe</label>
                        </li>
                    <button type="submit" class="btn btn-dark btn-block">Send absence request</button>
                </form>
            <br>

            <form th:action="@{/myabsences}" method="GET">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"><p class="h4">Your absences list:</p></div>
                        <div class="input-group col-md-6" style="float:right">
                            <select class="form-control" id="filter" name="filter">
                                <option value="all" selected>All</option>
                                <option value="approved">Approved</option>
                                <option value="rejected">Rejected</option>
                                <option value="waiting">Waiting</option>
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit">Filter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>From day</th>
                    <th>To day</th>
                    <th>Absence Type</th>
                    <th>STATUS</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="absence: ${absences}" th:object="${Absence}">
                    <tr>
                        <td th:text="${absence.getAbsenceFromDay()}"></td>
                        <td th:text="${absence.getAbsenceToDay()}"></td>
                        <td th:text="${absence.getAbsenceType().getAbsenceType()}"></td>
                        <td th:text="${absence.getAbsenceApprovalStatus().getStatus()}"></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="core/footer"/>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</body>
</html>