<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Management Application</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css">

    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="https://use.fontawesome.com/5bc8b9e18b.js"></script>
</head>
<body>

<div th:replace="core/header"/>

<div th:replace="core/user-panel"/>

<br>
<div id="main" class="container">
    <div class="row">
        <div id="content" class="col-md-12">

            <h6><b>Workday Date: <span th:utext="${workDay.getDate()}">Date</span></b></h6>
            <br>
            <h6>Work time: <span th:utext="${workDay.getWorkingTime()}">Worktime</span></h6>
            <br>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <form th:action="@{'/workday/'+${workDay.getId()}+'/set-worktime'}" method="POST">
                    <label for="setWorkTime">Set time of work:</label>
                    <input type="text" class="form-control" name="workTime" placeholder="Work Time"/>
                    <button class="btn btn-secondary btn-block" type="submit">Set Worktime</button>
                </form>
                <br>
            </div>

            <p class="h7">Booked artist: <span th:utext="${workDay.getBookedArtist()}">Importance Level</span></p>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <form th:action="@{'/workday/'+${workDay.getId()}+'/set-artist'}" method="POST">
                    <label for="setArtist">Set booked artist:</label>
                    <input type="text" class="form-control" name="bookedArtist" placeholder="Booked Artist"/>
                    <button class="btn btn-secondary btn-block" type="submit">Set Artist</button>
                </form>
                <br>
            </div>

            <p class="h7">Employers needed: <span th:utext="${workDay.getWorkDayImportance().getImportanceLevel()}">Importance Level</span></p>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
                <form th:action="@{'/workday/'+${workDay.getId()}+'/set-employers-needed'}" method="POST">
                    <div class="input-group">
                        <select class="form-control" id="workDayImportance" name="workDayImportance">
                            <option th:each="importanceLevel: ${importanceLevels}" th:value="${importanceLevel.getImportanceLevel()}" th:utext="${importanceLevel.getImportanceLevel()}" />
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-block" type="submit">Set importance level</button>
                        </div>
                    </div>
                </form>
                <br>
            </div>
            <br>
            <p>
                <a class="btn btn-secondary btn-block" data-toggle="collapse" href="#employers" aria-expanded="false" aria-controls="employers">
                    Employers
                </a>
                <div class="collapse" id="employers">
                    <div class="card card-body">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div th:each="employee: ${workDay.getEmployers()}" th:object="${Employee}">
                                <tr>
                                    <td th:text="${employee.getName()}"></td>
                                    <td th:text="${employee.getSurname()}"></td>
                                    <td th:text="${employee.getUsername()}"></td>
                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </p>
            <div sec:authorize="hasRole('ROLE_MANAGER')">
            <p>
                <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#employers-manage" aria-expanded="false" aria-controls="employers-manage">
                    Employers management
                </button>
                <div class="collapse" id="employers-manage">
                    <div class="card card-body">
                        Add employee to work day:<br>
                        <div th:if="not ${employers.isEmpty()}">
                            <form th:action="@{'/workday/'+${workDay.getId()}+'/add-employee'}" method="POST">
                                <div class="input-group">
                                    <select class="form-control" id="employee" name="employee">
                                        <option th:each="employee: ${employers}" th:value="${employee.getUsername()}" th:utext="${employee.getUsername()}" />
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="submit">Add employee</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        Take down employee:<br>
                        <div th:if="not ${workDay.getEmployers().isEmpty()}">
                            <form th:action="@{'/workday/'+${workDay.getId()}+'/delete-employee'}" method="POST">
                                <div class="input-group">
                                    <select class="form-control" id="employeeWorking" name="employee">
                                        <option th:each="employee: ${workDay.getEmployers()}" th:value="${employee.getUsername()}" th:utext="${employee.getUsername()}" />
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="submit">Drop employee</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </p>
            </div>
            <p>
                <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#comments" aria-expanded="false" aria-controls="comments">
                    Comments
                </button>
            <div class="collapse" id="comments">
                <div class="card card-body">
                    Add comment:<br>
                    <form th:action="@{'/workday/'+${workDay.getId()}+'/add-comment'}" method="POST">
                        <div class="input-group">
                            <br>
                            <div class="input-group-prepend">
                                <span class="input-group-text">Type text of the comment</span>
                            </div>
                            <textarea class="form-control" aria-label="Comment content" name="commentText"></textarea>
                        </div>
                        <button class="btn btn-secondary btn-block" type="submit">Add new comment</button>
                    </form>
                    Comments:<br>
                    <div th:each="comment: ${workDay.getComments()}" th:object="${Comment}">
                        -------------------------------------------------------------------------<br>
                        Date: <span th:utext="${comment.getDate()}">Date</span><br>
                        Author: <span th:utext="${comment.getEmployee().getName()+' '+comment.getEmployee().getSurname()}">Author</span><br>
                        Comment: <span th:utext="${comment.getText()}">Text</span><br>
                        -------------------------------------------------------------------------<br>
                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>

<div th:replace="core/footer"/>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
</body>
</html>