<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Club Management Application</title>
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

</head>
<body>

<div th:replace="core/header"/>

<div th:replace="core/user-panel"/>

<br>
<div id="main" class="container">
    <div class="row">
        <div id="content" class="col-md-12">
            <!--navibar-->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <br>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active">Main Page</li>
                        </ol>
                    </div>
                </div>
            </div>

            <p class="h6"><b>Workday Date: <span th:utext="${workDay.getDate()}">Date</span></b></p>

            <p class="h7">Work time: <span th:utext="${workDay.getWorkingTime()}">Worktime</span></p>

            <p class="h7">Booked artist: <span th:utext="${workDay.getBookedArtist()}">Importance Level</span></p>

            <p class="h7">Employers needed: <span th:utext="${workDay.getWorkDayImportance().getImportanceLevel()}">Importance Level</span></p>

            <p class="h7">Employers:<br></p>
            <div th:each="employee: ${workDay.getEmployers()}" th:object="${Employee}">
                <p class="h8"><span th:utext="${employee.getName()+' '+employee.getSurname()}">Employee</span></p>
            </div>

        </div>
    </div>
</div>

<div th:replace="core/footer"/>

<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</body>
</html>